<div class="main-visual">
   <h2>EVERYTHING INCLUDING MYSELF IS CONSTANTLY CHANGING</h2>
   <p>
   <%= link_to "ログイン", root_path, class: :nav__btn %>
   <%= link_to "新規登録", root_path, class: :nav__btn %>
   </p>
</div>